


@font-face {
  font-family: YanoneKaffeesatz-Bold;
  src: url(../webfonts/static/YanoneKaffeesatz-Bold.ttf);
}



@font-face {
    font-family: YanoneKaffeesatz-ExtraLight;
    src: url(../webfonts/static/YanoneKaffeesatz-ExtraLight.ttf);
  }


@font-face {
    font-family: YanoneKaffeesatz-Light;
    src: url(../webfonts/static/YanoneKaffeesatz-Light.ttf);
  }

@font-face{

font-family: YanoneKaffeesatz-Medium;
src: url(../webfonts/static/YanoneKaffeesatz-Medium.ttf);}


@font-face{

  font-family: YanoneKaffeesatz-Regular;
  src: url(../webfonts/static/YanoneKaffeesatz-Regular.ttf);}
  
  
  @font-face{

    font-family: YanoneKaffeesatz-SemiBold;
    src: url(../webfonts/static/YanoneKaffeesatz-SemiBold.ttf);}
    
    
      


